version: 2.1

jobs:
  debian:
    docker:
      - image: debian:stable
    steps:
      - run: apt-get update -yq
      - run: apt-get install -yq git build-essential pkg-config cmake
             libmsgpack-cxx-dev libboost-dev libboost-system-dev
             libwebsocketpp-dev zlib1g-dev libcurl4-openssl-dev libssl-dev
             libjsoncpp-dev libwxgtk3.2-dev libgtest-dev
      - checkout
      - run: git submodule update --init --recursive
      - run: cmake -B build
      - run: cmake --build build
      - run: ctest --test-dir build
      - store_test_results:
          path: build/tests/results
  archlinux:
    docker:
      - image: archlinux:latest
    steps:
      - run: pacman -Syu --noconfirm --noprogressbar --needed git openssh
             base-devel cmake msgpack-cxx boost websocketpp zlib curl openssl
             jsoncpp wxwidgets-gtk3 gtest
      - checkout
      - run: git submodule update --init --recursive
      - run: cmake -B build
      - run: cmake --build build
      - run: ctest --test-dir build
      - store_test_results:
          path: build/tests/results
  fedora:
    docker:
      - image: fedora:latest
    steps:
      - run: dnf install -y git gcc-g++ pkgconfig cmake msgpack-devel
             websocketpp-devel zlib-devel openssl-devel libcurl-devel
             jsoncpp-devel wxGTK-devel gtest-devel
      - checkout
      - run: git submodule update --init --recursive
      - run: cmake -B build
      - run: cmake --build build
      - run: ctest --test-dir build
      - store_test_results:
          path: build/tests/results
  wine:
    docker:
      - image: fedora:latest
    environment:
      WINEPATH: /usr/x86_64-w64-mingw32/sys-root/mingw/bin
    steps:
      - run: dnf install -y 'dnf-command(copr)'
      - run: dnf copr enable -y lihis/ets2-job-logger
      - run: dnf install -y git mingw64-gcc-c++ cmake mingw64-msgpack-cxx
             mingw64-websocketpp mingw64-zlib mingw64-curl mingw64-jsoncpp
             mingw64-gtest wine-core
      - run: WINEDEBUG=-all wine64 winecfg
      - checkout
      - run: git submodule update --init --recursive
      - run: mingw64-cmake -B build -DCMAKE_CROSSCOMPILING_EMULATOR=wine64 -DBUILD_GUI=OFF
      - run: cmake --build build
      - run: ctest --test-dir build
      - store_test_results:
          path: build/tests/results

workflows:
  version: 2
  linux:
    jobs:
      - debian
      - archlinux
      - fedora
      - wine
